.reviewBox-container {
    border: 2px solid black;
    width: 80%;
    margin: 0px auto;
    padding-bottom: 10px;
    background-color: beige;
    border-radius: 10px;


    .headin-container {
        display: flex;
        justify-content: center;
        align-items: center;


        .heading {
            // color: green;
            text-decoration: underline;
        }
    }

    .list-wrapper {
        display: flex;
        justify-content: center;
        background-color: palevioletred;
        width: 85%;
        margin: 0px auto;
        border-radius: 10px;
        margin-bottom: 10px;

        .list-container {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 55px;
            font-size: 16px;
            font-weight: 600;
        }
    }
}